@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  --color-th-green: #008891;
  --color-th-bg: #222831;
}

body {
  background-color: var(--color-th-bg);
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.3rem;
}

.content-main {
  background-image: url("../assets/images/garage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.content-main .title-wrapper {
  width: 100%;
  text-align: center;
}

.content-main .title-wrapper > span {
  display: inline-block;
  color: white;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.content-main .title-wrapper > span h1 {
  font-family: "Monoton", cursive;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.5rem;
}

.content-main .title-wrapper > span:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1%;
  right: 0;
  bottom: 5px;
  border-bottom: 4px solid white;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.content-main .logo {
  display: block;
  padding-top: .5em;
  text-align: center;
}

.content-main .logo img {
  width: 9em;
}

.content-main .main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content-main .main-wrapper .perk {
  position: relative;
  color: white;
  width: 30%;
  min-width: 300px;
  height: 50%;
  display: inline-block;
  text-align: center;
  margin: 1em;
  padding: .5em;
}

.content-main .main-wrapper .perk:after {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.content-main .main-wrapper .perk:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.content-main .main-wrapper .perk h1 {
  margin: .3em;
  letter-spacing: 0.3rem;
}

.content-main .main-wrapper .perk h1,
.content-main .main-wrapper .perk .desc {
  position: relative;
  z-index: 2;
}

.content-main .main-wrapper .perk .desc {
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  font-family: Arial, Helvetica, sans-serif;
}

.content-main .main-wrapper .perk-1:after {
  background: #080808;
}

.content-main .main-wrapper .perk-1:before {
  -webkit-box-shadow: 0 0 50px -5px #008891;
          box-shadow: 0 0 50px -5px #008891;
}

.content-main .main-wrapper .perk-2:after {
  background: #080808;
}

.content-main .main-wrapper .perk-2:before {
  -webkit-box-shadow: 0 0 50px -5px #6f0091;
          box-shadow: 0 0 50px -5px #6f0091;
}

.content-main .main-wrapper .perk-3:after {
  background: #080808;
}

.content-main .main-wrapper .perk-3:before {
  -webkit-box-shadow: 0 0 50px -5px #005091;
          box-shadow: 0 0 50px -5px #005091;
}

.content-offer {
  background-image: url("../assets/images/tools2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-top: 3px solid #008891;
  padding: .5em;
}

.content-offer .offer-header {
  width: 100%;
  margin-bottom: 1em;
}

.content-offer .offer-header h1 {
  margin: 0 auto;
  width: 40%;
  min-width: 300px;
  text-align: center;
  color: white;
  font-size: 2.5rem;
  border-bottom: 3px solid #008891;
}

.content-offer .offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: inherit;
}

.content-offer .offer .offer-item {
  z-index: 1;
  text-align: center;
  width: 40%;
  min-width: 300px;
  padding: 0.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  position: relative;
  background: inherit;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
}

.content-offer .offer .offer-item h2 {
  margin-bottom: .5em;
}

.content-offer .offer .offer-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background: inherit;
  z-index: -1;
}

.section-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid black;
  z-index: 1;
  padding: 1em;
}

.section-wrapper:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(217deg, #008891, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #222831, rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  z-index: -1;
  background-attachment: fixed;
}

.section-wrapper .offer-list {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: normal;
  font-size: 1rem;
  padding: 1em;
}

.section-wrapper .offer-list p {
  font-size: 1.2rem;
}

.section-wrapper .offer-list ul.a li {
  margin-top: .2rem;
}

.section-wrapper .offer-list ul.a ul.b {
  list-style-position: inside;
}

.section-wrapper .location {
  width: 50%;
}

.section-wrapper .location p:nth-child(1) {
  color: white;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-align: center;
}

.section-wrapper .location p:nth-child(2) {
  color: white;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-align: center;
}

.section-wrapper .location iframe {
  width: 100%;
  min-height: 400px;
  border-radius: 10px;
}

.contact {
  color: white;
  padding: 2rem;
  border-bottom: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: .1rem;
  text-align: center;
  position: relative;
}

.contact .social-media {
  margin-top: 1em;
}

.contact .social-media #fb {
  width: 3rem;
}

.contact .social-media #ig {
  width: 3rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: .2rem;
  position: relative;
  height: 10vh;
}

footer #attr {
  font-size: .6rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer #attr a {
  text-decoration: none;
  color: #008891;
}

@-webkit-keyframes title-border {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes title-border {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes border-radius {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 20%;
  }
}

@keyframes border-radius {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 20%;
  }
}

@media (max-width: 800px) {
  .section-wrapper .location {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .title-wrapper span.title > h1 {
    font-size: 2rem;
  }
  .section-wrapper .offer-list {
    font-size: .7rem;
  }
}
/*# sourceMappingURL=index.css.map */